<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar color="primary">
  <i class="material-icons">hourglass_empty</i> <span>&nbsp;&nbsp;Timer</span>
</md-toolbar>


<div style="float: right; margin:-25px 50px 0px 0px">
  <!-- <button md-fab (click)="addTimer()"><i class="material-icons">settings</i></button> -->
  <button md-mini-fab (click)="addTimer()"><i class="material-icons">settings</i></button>
</div>

<div style="padding-top:50px">
  <div style="text-align:center">
    <app-time-now></app-time-now>
    <button md-raised-button color={{activity.color}} *ngFor="let activity of activites" (click)="selectActivity(activity)">{{activity.name}}</button>
  </div>
  <!-- <div style="text-align:center">
    <h1>{{message}}</h1>
  </div> -->
</div>